<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/style.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      async function updateTodo(id) {
        var token = document
          .querySelector('meta[name="csrf-token"]')
          .getAttribute("content");

        await fetch(`/todos/${id}`, {
          method: "put",
          headers: { "content-type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }

      async function deleteTodo(id) {
        await fetch(`/todos/${id}`, {
          method: "delete",
          headers: { "content-type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
        setTimeout(() => {
          window.location.reload();
        }, 10);
      }
    </script>
    <title>Document</title>
  </head>

  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <header><%- include('header.ejs') %></header>
        <form action="/todos" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input
                type="text"
                name="title"
                placeholder="What's next? class"
                class="border border-grey-400 rounded text-gray-800 w-full p-2 text-sm"
                required
              />
            </div>
            <div class="flex-auto">
              <input
                name="dueDate"
                type="date"
                class="border border-grey-800 rounded text-gray-800 w-full p-2 text-sm leading-4"
                required
              />
            </div>
            <div class="flex-none">
              <button
                type="submit"
                class="bg-green-800 text-white px-4 py-1.5 rounded font-medium mr-2 mb"
              >
                Add
              </button>
            </div>
          </div>
        </form>
        <%- include('todos.ejs') %>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
